//font-family: 'Open Sans', sans-serif;
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');


//gothic
@font-face {
  font-family: 'gothic';
  src: url(../fonts/gothic.ttf);
}

@font-face {
  font-family: 'gothicB';
  src: url(../fonts/gothicb.ttf);
}