@import "fonts";

$open:'Open Sans', sans-serif;
$gotReg:'gothic',sans-serif;
$gotBold:'gothicB',sans-serif;


//sprites

.icon-mail, .icon-cart, .icon-call, .icon-obn, .icon-del,
.icon-search
{ display: inline-block; background: url('../img/sprite.png') no-repeat; overflow: hidden; text-indent: -9999px; text-align: left; }

.icon-mail { background-position: -5px -0px; width: 41px; height: 31px; }
.icon-cart { background-position: -5px -36px; width: 25px; height: 20px; }
.icon-call { background-position: -5px -61px; width: 23px; height: 22px; }
.icon-obn { background-position: -5px -88px; width: 21px; height: 23px; }
.icon-del { background-position: -5px -116px; width: 20px; height: 19px; }
.icon-search { background-position: -5px -140px; width: 20px; height: 19px; }