@import "normalize";
@import "variables";
@import "bootstrap-grid4";
@import "libs";

//placeholder
*::-webkit-input-placeholder{
  color: #757575;
  font-size: 12px;
  font-weight: 400;
}


*:-moz-placeholder{
  color: #757575;
  font-size: 12px;
  font-weight: 400;
}


*::-moz-placeholder{
  color: #757575;
  font-size: 12px;
  font-weight: 400;
}


*:-ms-input-placeholder{
  color: #757575;
  font-size: 12px;
  font-weight: 400;
}
.hidden{
  display: none;
}


.search::-webkit-input-placeholder{
  color: #d2d2d2;
  font-family:$open;
  font-size: 18px;
}


.search:-moz-placeholder{
  color: #d2d2d2;
  font-family:$open;
  font-size: 18px;
}


.search::-moz-placeholder{
  color: #d2d2d2;
  font-family:$open;
  font-size: 18px;
}


.search:-ms-input-placeholder{
  color: #d2d2d2;
  font-family:$open;
  font-size: 18px;
}
.hidden{
  display: none;
}
p,h1,h2,h3{
  margin: 0;
}
.ul{
  padding-left: 0;
  margin: 0;
  list-style: none;
}
input,button,a,textarea{
  outline: none;
  text-decoration: none;
}
.wrapper{
  max-width: 1920px;
  margin: 0 auto;
}
body{
  color: #757575;
  font-size: 18px;
  font-family: $open;
  font-weight: 400;
}

select {
  outline: none;
  color: #757575;
  font-size: 12px;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url("../img/arr-select.png")no-repeat 90% center;
}
//import elements & pages

@import "elements/header";
@import "elements/sliders";
@import "elements/sidebar";
@import "pages/_index";
@import "elements/footer";
@import "elements/popup";
@import "pages/news";
@import "pages/action&contact";
@import "pages/cart&item";




